<div class="container d-flex flex-column min-vh-100">
  <div class="position-fixed top-0 start-0 end-0 bg-white border-bottom py-3 text-center z-3">
    <h1 class="h3 fw-bold text-center text-dark mb-0">{{ isEdit() ? 'Edit' : 'Create' }} a form</h1>
  </div>

  <form
    [formGroup]="formEditorForm"
    (ngSubmit)="save()"
    class="card shadow-sm my-7 p-4 rounded-3 border-0"
  >
    @if (!dragAndDropMode) {
      <div class="card shadow p-2 mb-4">
        <div class="mb-3">
          <p-floatlabel variant="on">
            <input
              pInputText
              #titleInput
              id="title"
              formControlName="title"
              autocomplete="off"
              [invalid]="isTouchedOrDirtyAndInvalid(formEditorForm.controls.title)"
              class="w-100"
            />
            <label for="title">Title *</label>
          </p-floatlabel>
          <app-validation-error-message
            [controls]="[formEditorForm.controls.title]"
            errorName="required"
            errorMessage="Please enter a title for your form."
          />
        </div>
  
        <div class="mb-2">
          <p-floatlabel variant="in">
            <textarea
              pTextarea
              id="description"
              formControlName="description"
              autocomplete="off"
              class="w-100"
            ></textarea>
            <label for="description">Description</label>
          </p-floatlabel>
        </div>
      </div>

      <div formArrayName="elements" class="mb-4">
        @for (elementEditorForm of elementsEditorForms.controls; track $index) {
          <app-form-element
            [elementEditorForm]="elementEditorForm"
            (remove)="removeElement($index)"
          />
        }
      </div>

      <div formArrayName="rules" class="mb-4">
        @for (ruleEditorForm of rulesEditorForms.controls; track $index) {
          <app-form-rule-editor
            [ruleEditorForm]="ruleEditorForm"
            [formEditorForm]="formEditorForm"
            (remove)="removeRule($index)"
          />
        }
      </div>

      <div class="d-flex justify-content-between mb-1">
        <div class="d-flex gap-3">
          <p-button
            label="Add item"
            (onClick)="addItem()"
            icon="pi pi-book"
            styleClass="p-button-info"
          />
          <p-button
            label="Add separator"
            (onClick)="addSeparator()"
            [disabled]="!canAddSeparator()"
            icon="pi pi-minus"
            [styleClass]="canAddSeparator() ? 'p-button-info' : 'p-button-secondary'"
          />
        </div>
        <div>
          <p-button
            label="Add rule"
            icon="pi pi-hammer"
            styleClass="p-button-info"
            (onClick)="addRule()"
          />
        </div>
      </div>
    } @else {
      <div formArrayName="elements" class="mb-4" cdkDropList (cdkDropListDropped)="drop($event)">
        @if (elementsEditorForms.controls.length === 0) {
          <div class="d-flex justify-content-center align-items-center">
            <span class="fw-bold text-center">
              This mode allows you to organize your items. Add items in the Edit mode to do this.
            </span>
          </div>
        }
        @for (elementEditorForm of elementsEditorForms.controls; track $index) {
          <div cdkDrag (cdkDragStarted)="onDragStart()" (cdkDragEnded)="onDragEnd()">
            <app-form-element-compact
              [elementEditorForm]="elementEditorForm"
              (remove)="removeElement($index)"
            />
          </div>
        }
      </div>
    }

    <div class="position-fixed bottom-0 start-0 end-0 bg-white border-top py-3 text-center">
      <div class="container d-flex justify-content-center gap-3">
        <p-button
          label="Cancel"
          (onClick)="cancel()"
          icon="pi pi-times"
          styleClass="p-button-lg p-button-outlined p-button-secondary"
        />
        <p-button label="Confirm" type="submit" icon="pi pi-file-check" styleClass="p-button-lg" />
        <p-button
          [label]="dragAndDropMode ? 'Edit mode' : 'Organize mode'"
          (onClick)="switchMode()"
          [icon]="dragAndDropMode ? 'pi pi-pencil' : 'pi pi-sort'"
          styleClass="p-button-lg p-button-secondary"
        />
      </div>
    </div>
  </form>
</div>
