<div class="border d-inline-block p-2 my-3">
  <form [formGroup]="itemEditorForm()">
    <p-selectbutton
      [options]="itemTypeSelect"
      optionLabel="label"
      optionValue="value"
      formControlName="type"
      [invalid]="itemEditorForm().controls.type.invalid"
    />
    @if (isTouchedOrDirtyAndHasError(itemEditorForm().controls.type, 'required')) {
      <small class="text-danger"> Please choose a type. </small>
    }

    <p-floatlabel variant="on">
      <input
        pInputText
        id="question"
        formControlName="question"
        [invalid]="itemEditorForm().controls.question.touched && itemEditorForm().controls.question.invalid"
      />
      <label for="question">Question *</label>
    </p-floatlabel>
    @if (isTouchedOrDirtyAndHasError(itemEditorForm().controls.question, 'required')) {
      <small class="text-danger"> Please enter a question. </small>
    }
    <ng-container #dynamicHost />
  </form>
  <hr class="my-1" />

  <div>
    <p-button label="Log item" (onClick)="logItem()" />
  </div>
</div>
