<form [formGroup]="itemPreviewForm()" class="d-flex flex-column gap-2">
  @if (countText !== '') {
    <div class="alert alert-warning py-2 px-3 mb-0 small">
      {{ countText }}
    </div>
  }
  @for (option of options; track $index) {
    <div class="d-flex align-items-center">
      <p-checkbox
        [inputId]="option.value"
        name="value"
        [value]="option.value"
        formControlName="value"
        [disabled]="isDisabled(option)"
        [invalid]="isInvalid(itemPreviewForm())"
      />
      <label [for]="option.value" class="ms-2">{{ option.label }}</label>
    </div>
  }

  <div>
    <app-validation-error-message
      [controls]="[itemPreviewForm().controls.value]"
      errorName="notEnoughChecks"
      errorMessage="Please choose more options."
    />

    <app-validation-error-message
      [controls]="[itemPreviewForm().controls.value]"
      errorName="tooManyChecks"
      errorMessage="Please choose less options."
    />
  </div>
</form>
